body {
	font-size: 20px;
	text-align: center;
	color: black;
	padding: 0px;
	font-family: cursive;
	background: red;
}
a {
	text-decoration: none;
	color: black;
}
.header {
	display: grid ;
	grid-template-columns: 1fr 4fr ;
	background-color: moccasin ;
	height: 30vh ;
	border-radius: 15px ;
	margin-bottom: 5px ;
}

.logo {
	background-image: url(../img2/logo.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 27vh;
	margin-top: 6px ;
	margin-left: 6px ;
}

.title {
	color: black;
}
ul {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 2px;
	padding: 0px;
	margin:	0px;
	text-align: center;
}


li {
	padding: 5px;
	border: 2px black solid;
	background: tan;
	text-align: center;
	color: white;
	font-family: Verdana;
	list-style: none;
	font-size: 10 px;
	border-radius:5px;
	transition: all .2s ease-out;
	margin-bottom: 5px;
}

li:hover{
	background-color: black;
}

* {
	text-decoration: none;
}

.pants {
	display:grid ;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
	border: 2px black solid;
	height: 62vh;
	grid-gap: 2px ;
}

.t {
	background-image: url(../img4/1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 60vh;
	margin-top: 5px ;
}

.tt {
	background-image: url(../img4/2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 60vh;
	margin-top: 5px ;
}

.ttt {
	background-image: url(../img4/3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 60vh;
	margin-top: 5px ;
}

.tttt {
	background-image: url(../img4/4.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 60vh;
	margin-top: 5px ;
}

.ttttt {
	background-image: url(../img4/5.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 60vh;
	margin-top: 5px ;
}

.shorts {
	display:grid ;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
	border: 2px black solid;
	height: 62vh;
	grid-gap: 2px ;
}

.w {
	background-image: url(../img4/6.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 60vh;
	margin-top: 5px ;
}

.ww {
	background-image: url(../img4/7.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 60vh;
	margin-top: 5px ;
}

.www {
	background-image: url(../img4/8.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 60vh;
	margin-top: 5px ;
}

.wwww {
	background-image: url(../img4/9.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 60vh;
	margin-top: 5px ;
}

.wwwww {
	background-image: url(../img4/10.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px black solid;
	height: 60vh;
	margin-top: 5px ;
}

